## Install Wikipedia API

In [2]:
!conda install -c conda-forge wikipedia --yes

print("Wikipedia API installed")

Solving environment: done

# All requested packages already installed.

Wikipedia API installed

## Import libraries

In [3]:
import pandas as pd
import wikipedia as wp

## Import data using the Wikipedia API

In [4]:
html = wp.page("List_of_postal_codes_of_Canada:_M").html().encode("UTF-8")
df = pd.read_html(html)[0]

## Remove lines where the Borough is not assigned

In [5]:
df = df[df.Borough != 'Not assigned']

## Replace Neighbourhood = Not assigned with the Borough name

In [6]:
df.Neighbourhood = df.apply(lambda x: x['Borough'] if x['Neighbourhood']=='Not assigned' else x['Neighbourhood'], axis=1)

## Join the lines for Neighbouhoods

In [7]:
df = df.groupby(['Postcode','Borough'])['Neighbourhood'].apply(lambda x: ','.join(x)).reset_index()

## First 5 lines

In [8]:
df.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

## Last 5 lines

In [9]:
df.tail()

    Postcode    Borough                                      Neighbourhood
98       M9N       York                                             Weston
99       M9P  Etobicoke                                          Westmount
100      M9R  Etobicoke  Kingsview Village,Martin Grove Gardens,Richvie...
101      M9V  Etobicoke  Albion Gardens,Beaumond Heights,Humbergate,Jam...
102      M9W  Etobicoke                                          Northwest

## Count of line

In [10]:
df.shape

(103, 3)